.wrapper{
    border: 1px solid red;
    height: 100vh;
    width: 100vw;


}
.closeIcon{
    font-size: 1.5rem;
}
.iconHolder{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem
}